<html>
    <head>
        {% if title %}
        <title>{{ title }} Teamportal</title>
        {% else %}
        <title>Teamportal</title>
        {% endif %}
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    </head>
    <body>
	
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand">
      <div class="container">
		
	<a class="navbar-brand" href="{{ url_for('index') }}">Teamportal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
         <li class="nav-item">
        	      <a class="nav-link" href="{{ url_for('benutzeransicht') }}" style="display:inline">Benutzerübersicht</a>
      </li>
    </ul>
  </div>
  </div>
</nav>

		<div class="col-md-7">
        {% block content %}{% endblock %}
		</div>  